<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Musée de Louvre</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('/lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ asset('/lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ asset('/css/grayscale.min.css')}}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand" href="#page-top">MUSEE DE LOUVRE</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#home">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">Informations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#download">Visites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">  </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('acme_louvre_billetterie') }}">Acheter votre billet</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Intro Header -->

<header class="masthead" id="home">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">Bienvenue au musée de Louvre</h1>
                    <a href="{{ path('acme_louvre_billetterie') }}" class="btn btn-default btn-lg">Acheter votre billet</a>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Section Informations -->
<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Informations</h2>
                <p>
                    - Le musée est ouvert tous les jours de 9h à 18h excepté le mardi.
                    (fermeture des salles à partir de 17h30)<br>

                    - Le musée est ouvert en nocturne jusqu'à 21h45 le mercredi et le vendredi.
                    (fermeture des salles à partir de 21h30)<br>

                    Chaque premier dimanche des mois d'octobre à mars, l'entrée au musée du Louvre est gratuite pour tous les visiteurs.
                    <br>
                    Accès :
                    <br>
                    - Les accès par la Pyramide et la galerie du Carrousel : ouvert tous les jours sauf le mardi, de 9h à 19h30 et jusqu'à 22h le mercredi et le vendredi.
                    <br>
                    - Passage Richelieu : ouvert tous les jours, sauf le mardi, de 9h à 17h30 et jusqu’à 18h00 le mercredi et le vendredi.
                    <br>
                    - Porte des Lions : Cet accès est réservé aux visiteurs en groupe.

                </p>
            </div>
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="download-section content-section text-center">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <h2>Visite guidée</h2>
            <p>Les visites guidées du Louvre sont conduites par les conférenciers des Musées Nationaux. Que vous veniez pour la première fois ou que vous soyez un habitué, trouvez la visite qui vous correspond, parmi le large choix de thématiques qui vous est proposé. </p>
            <p>Vous pouvez également consultez le plan interactif du musée du Louvre pour organiser votre visite.</p>
            <!--a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visites guidée</a-->
            <a href="http://www.louvre.fr/sites/default/files/medias/medias_fichiers/fichiers/pdf/louvre-plan-information-francais.pdf" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Nous contacter</h2>
                <p>Adresse :</p>
                <p>Musée du Louvre, 75058 Paris - France</p>
                <p>Téléphone :</p>
                <p>+ 33 (0)1 40 20 53 17</p>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/museelouvre?lang=fr" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/museedulouvre/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook
                            </span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://plus.google.com/+MuseeLouvre" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Map Section -->
<div id="map"></div>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Musée de Louvre 2017</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('/lib/jquery/jquery.min.js')}}"></script>
<script src="{{ asset('/lib/popper/popper.min.js')}}"></script>
<script src="{{ asset('/lib/bootstrap/js/bootstrap.min.js')}}"></script>

<!-- Plugin JavaScript -->
<script src="{{ asset('/lib/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<!-- Custom scripts for this template -->
<script src="{{ asset('/js/grayscale.min.js')}}"></script>
<script src="{{ asset('/js/tabs.js')}}"></script>

</body>

</html>

