

{% extends "OCLouvreBundle::layout.html.twig" %}


{% block body %}

    <div style="margin-top: 100px; background: #42A5F5; color: white">
        <p>
            <a title="Retour à l'accueil" id="path-home" href="{{ path('oc_louvre_homepage') }}">
                Retour à l'accueil
            </a>
            <span>&gt;</span>
            <span class="crumbName">Billetrie automatique</span>
        </p>
    </div>

    <header style="margin-top: 100px">
        <div class="intro-body">
            <div class="row">
                <div class="col-lg-8 mx-auto" style="text-align: center">
                    <h2>Musée du Louvre</h2>
                    <p>
                        Entrée libre, sans billet, sur présentation d’un justificatif pour les moins de 18 ans,
                        les 18-25 ans résidents de l’Espace Economique Européen,
                        les personnes handicapées et leur accompagnateur,
                        et les bénéficiaires des minima sociaux.<br>
                        Billet valable seulement le jour sélectionné.
                    </p>
                </div>
            </div>
            <div class="container" style="text-align: center; color: #ffffff; border: 1px solid white ">
                <h3>Formulaire d'achat des billets</h3>
                {{ dump(form) }}
                <div>
                    <div style="background-color: #42A5F5">
                        {#
                        {{ include("OCLouvreBundle:Louvre:form.html.twig") }}
                        #}
                        <div class="well">
                            {# ... #}
                            {{ form_start(form, {'attr': {'class': 'form_horizontal'}}) }}

                            {{ form_row(form.clients) }}
                            <a href="#" id="add_client" class="btn btn-default">Ajouter une client</a>

                            {# ... #}
                            {{ form_end(form) }}
                        </div>

                    </div>
                    <!--div class="col-sm-4" style="background-color: #0D47A1"></div-->

                </div>



            </div>
        </div>
    </header>


{% endblock %}

{% block script %}
    <!--script type="text/javascript">
        $(function() {
            $('#num').on('blur click keydown', function() {
                var number = document.getElementById("num").value;;
                $('#resultat').text('Vous venez de sélectionner "' + number +'".');
            });
        });
    </script-->
    # src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

    {# Le formulaire reste globalement le même,
       On ne rajoute que le champ catégorie et le lien pour en ajouter #}


    {# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
       mais si vous l'avez en local, changez simplement l'adresse. #}

    {# Voici le script en question : #}
    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#form_collection_clients');

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $('#add_client').click(function(e) {
                addClient($container);

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addClient($container);
            } else {
                // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire CategoryType
            function addClient($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Client n°' + (index+1))
                    .replace(/__name__/g,        index)
                ;

                // On crée un objet jquery qui contient ce template
                var $prototype = $(template);

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                $deleteLink.click(function(e) {
                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock %}
