<div class="well">
    {{ form_start(form, {'attr': {'id': 'payment-form'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}


    {# Génération du label + error + widget pour un champ. #}


    <div class="form-inline">
        <div class="form-group col-sm-6">
            {{ form_errors(form.billets.dateReservation) }}
            {{ form_widget(form.billets.dateReservation, {'attr': {'placeholder':'Date de Visite'}}) }}

        </div>
        <div class="form-group col-sm-6 form-inline">
            {{ form_label(form.billets.produits, "Type du Billet", {'label_attr': { 'class': 'col-sm-6 control-label' }}) }}
            {{ form_errors(form.billets.produits) }}
            {{ form_widget(form.billets.produits, {'attr': {'class': 'custom-select mb-2 mr-sm-2 mb-sm-0'}}) }}

        </div>
    </div>
    <div class="d-flex flex-row-reverse col-sm-12">
        <div id="divnum" class="p-2">
            <input type="number" id="num" placeholder="Nombre de visiteur" name="nombreVisiteur"/>
        </div>

    </div>

    <div id="visiteur">
        <a href="#" id="add_client" class="btn btn-default">Valider</a>
    </div>
    <hr>
    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>
